@tailwind base;
@tailwind components;
@tailwind utilities;

/* londrina-outline-regular - latin */
@font-face {
  font-family: 'Londrina Outline';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/londrina-outline-v23-latin-regular.woff2') format('woff2');
  font-display: swap;
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/inter-v12-latin-regular.woff2') format('woff2');
  font-display: swap;
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/fonts/inter-v12-latin-500.woff2') format('woff2');
  font-display: swap;
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('/fonts/inter-v12-latin-600.woff2') format('woff2');
  font-display: swap;
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/inter-v12-latin-700.woff2') format('woff2');
  font-display: swap;
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local(''), url('/fonts/inter-v12-latin-800.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
}
* {
  box-sizing: border-box;
}

.logo {
  font-family: 'Londrina Outline', cursive;
}
